# Python Stuff
.ipynb_checkpoints
__pycache__
.python-version

# Outputs and Sensitive Data
Edited\ Recording\ Transcriptions/
*.txt
!requirements.txt
*.csv
*.xlsx
*.json
*.png
*.pdf
*.html
*.geojson

# Miscellaneous
config.py
.DS_Store

# dynamics_model Latex notes
Water\ Optimization/dynamics_model/out/
!Water\ Optimization/dynamics_model/out/notes.pdf