# Python Stuff
**/.ipynb_checkpoints
**/__pycache__
**/.python-version

# Outputs and Sensitive Data
**/config.py
**/*.txt
!*requirements.txt
**/*.csv
**/*.xlsx
**/*.json
**/*.png
**/*.pdf
**/*.html
**/*.geojson
**/*.svg

# Miscellaneous
**/.DS_Store

# LaTeX: Files from custom build config (except PDFs)
**/*.aux
**/*.fdb_latex
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
**/aux
**/out/*
!**/out/*.pdf
